* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
  gap: 5px;
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 10px;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  transition: all 0.5s;
}
button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 1px var(--text-primary) solid;
  padding: 3px;
  float: right;
  transition: all 0.5s;
  font-family: "Amatic";
  font-size: larger;
}

@font-face {
  font-family: "Amatic";
  src: url(./assets/fonts/Amatic_SC/AmaticSC-Regular.ttf);
}
